/*textarea und errorlayer:*/
#texteditor{
	background:white;
	position:initial;
	height:400px;
	padding:15px;
}
#texteditorerrorlayer{
	color:unset;
	overflow-y:auto;
	overflow-x:none;
	z-Index:1;
	/*font-weight:bolder;*/
}

#texteditorerrorlayer, #quelltext, #wysiwygarea {
    font-family: monospace;
	font-size: 1em;
	position:absolute;
	border: 1px solid;
    margin: 1px;
    padding: 1px;
	width: 500px;
	height:300px;
}
#quelltext{
	z-Index:2;
	background:none;
	color:transparent;
	caret-color:black;
}

.linenr {
    color: grey;
	display:none;
}
.error{

}
#texteditorerrorlayer .error{
	color: red;
	border-bottom:3px solid red;
}
.proposedsymbol{
	color:grey;
	background:white;
	margin-left: 5px;
}
.errordescription{
	background:rgba(0,255,255,0.8);
	float: right;
	color: red;
}
/*mdcodeeditor*/
.backgroundline{
	white-space: pre-wrap;
	word-wrap: break-word;
}
.backgroundline.h1{
	color:blue;
	font-weight: bold;
}
.backgroundline.h2{
	color:blue;
}
.backgroundline b, .backgroundline i, .backgroundline strike{
	border-bottom:1px solid lightgreen;
}
.backgroundline.code, .backgroundline code{
	background:orange;
}
.backgroundline.code{
	display:inline-block;
	width:100%;
}
.backgroundline.quote{
	background:gainsboro;
	font-style:italic;
	display:inline-block;
	width:100%;
}
#texteditorerrorlayer .pagenr {
    /*content: "»»» new page";*/
    color: white;
		font-style:italic;
}
.backgroundline.pagebreak {
    display: inline-block;
    background: grey;
    width: 100%;
}
.backgroundline.data{
	display:inline-block;
	width: 100%;
	background:yellow;
}
.backgroundline .imagetag{
	color:blue;
	font-weight:bold;
	background:lightblue;
}
.backgroundline .imagesrc, .backgroundline .imagealt{
	color:green;
}
.backgroundline .imagesrc.imagenotfound{
	color:red;
}
.backgroundline.footnote{
	background:lightgrey;
	display:inline-block;
	width:100%;
}
.backgroundline .firstfootnote{
	border-top:1px dashed;
	margin-top:-1px;
}
.backgroundline .footnoteanchor{
	color:blue;
}
.backgroundline .comment {
	background:lightgrey;
	font-style:italic;
}

/*mdcodeeditor imagespreview */
#texteditorimagespreview{
	font-family:monospace;
	width:700px;
}
#texteditorimagespreview img{
	float:right;
}
/*presentation */
.ppage{
	display:none;
	width:100%;
	visibility: hidden;
	position:absolute;
	top:0;
	left:0;
	height:100vh;
	overflow:auto;
}
.ppage.active{
	display:block;
	visibility: visible;
}

#praesentationrahmen{
	display:none;
}
#praesentationrahmen.fullscreen {
	display: block;
}
#praesentation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
	height:100%;
	overflow: auto;
	left:0;
}
#praesentationrahmen.fullscreen .praesentationsteuerung{
	position: fixed;
	bottom:0;
	z-index: 1001;
}
h1{
	text-align: center;
}

#texteditorbuttons input {
	width:unset;
}
.text {

}

#fehlercoderahmen{
 	background: snow none repeat scroll 0 0;
    display: none;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    z-index: 10;
}

#fehlercoderahmen.active{
	display:block;
}
#fehlercoderahmen > input {
    position: fixed;
    right: 18px;
    top: 0;
}

/* vorschau neben texteditor: */
#wysiwygarea.debugmode{
	left:550px;
}
.hidden {
	display:none;
}
/*wysiwyg-vollbildmodus */
#slidenotediv.vollbild{
	background: white none repeat scroll 0 0;
    position: fixed;
    top: 00;
    width: 90%;
    z-index: 1000;
	height:100vh;
	overflow: none;
	padding:1%;
}

.vollbild #wysiwygarea{
	width:100%;
	height:100%;
	overflow: scroll;
}

/*
#wysiwygrahmen::after {
    clear:both;
    width: 100%;
	content:".";
}
#zieltext{
	height: 80vh;
	overflow-y:auto;
	background:rgba(200,250,0,0.8);
}
*/
#editorblock {
    clear: both;
    float: none;
    height: 200%;
    position: initial;
    width: 100%;
}
#editorblock::after{
	clear:both;
	content:".";
}

/*wysiwyg*/
#wysiwygarea {
	background:white;
	border:1px solid black;
	overflow:scroll;
	outline:none;
	padding:10px;
	z-index: 3;

}

#wysiwygarea code{

}
#wysiwygarea data{
	white-space: pre;
	background: #e1e149;
	border:1px solid black;
	padding:5px;
	display: block;
	width:90%;

}
#wysiwygarea img{
	height:100px;
}

#wysiwygarea .wysiwygselection{
	color:white;
	background-color:lightblue;

}
/*background-flickern wegmachen:*/
#wysiwygrahmen ::selection{
	color:white;
	background:lightblue;
}
#wysiwygrahmen ::-moz-selection{
	color:white;
	background:lightblue;
}
#wysiwygarea:focus .wysiwygselection{
	background-color:white;
	color:black;
}
/* cursor faken: */
@-webkit-keyframes blink {from , to { border-color:black}
50%{border-color:transparent}
}
@-moz-keyframes blink {from , to { border-color:black}
50%{border-color:transparent}}
.cursor {
	border-right: 1px solid black;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	margin-right:-1px;
}
/*options-menü*/
#options {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 10;
		display: none;
		top:0px;
}
#options.visible{
	display: block;
}

#options > h1 button {
    float: right;
    margin-right: 50px;
}

#options > h1 {
    background: lightblue;
    padding: 15px;
}

/*options-tabbar: */
.tabbar h2 {
  display: inline;
  margin-left: 10px;
  background: lightgrey;
  padding: 10px;
  padding-bottom: unset;
}
.tabbar h2.active {
  border: 1px solid black;
  border-top: 2px solid #2d2b2b;
  border-bottom: none;
  padding-bottom: 1px;
}
.tabbar {
  border-bottom: 1px solid black;
}
.tabbar h2 {
  display: inline;
  margin-left: 10px;
  background: lightgrey;
  padding: 10px;
  padding-bottom: unset;
}
.tabbar h2.active {
  border: 1px solid black;
  border-top: 2px solid #2d2b2b;
  border-bottom: none;
  padding-bottom: 1px;
}
.tabbar h2:hover {
  background: darkgray;
}
.tabbar h2.active:hover {
  background: lightgrey;
}

.optiontab {
  display: none;
}
.optiontab.active {
  display: block;
}
/*testsachen*/
#designvorschau {
    float: right;
    width: 30%;
    padding: 10px;
    border: 1px solid;
}
body {
//background-color: black;
//color:white;
}

#imagecontainer {
	display:none;
}
