/*screenreader-texts:*/
.screenreader-only {
    height: 0;
    width:0;
    overflow: hidden;
}

/*make all clickable items show pointer*/
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
/*implementing font rubikReg*/
@font-face {
  font-family: rubikReg;
  src: url(Rubik-Regular.ttf);
}

/*arrow-box-class:*/
.arrow_box {
	position: relative;
	background: white;
	border: 1px solid transparent;
    border-radius:20px;
    box-shadow:0 0 5px 0 lightgray;
    padding:10px;
    z-index: 100;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: white;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(71, 82, 89, 0);
	border-bottom-color: rgba(100,100,100,0.5);
	border-width: 16px;
	margin-left: -16px;
}

/*prevent body from getting overflow:*/
body{
  overflow:hidden;
}
/*gridding:*/

#slidenoteeditor{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:grid;
/*    grid-template-areas: ". topleft topmiddle topright cornerright"
    "cornerleft . . topright buttonright"
    "notearea sidebar editor topright buttonright"
    "buttonleft sidebar editor topright buttonright"
    "buttonleft sidebar editor emptyright sidebarright"
    "emptyleft sidebar editor emptyright sidebarright"
    "playbutton sidebar editor emptyright sidebarright"
    "cornerbottomleft sidebar editor emptyright .";
    grid-template-columns: 19% 7% 61% 2% 11%;
    grid-template-rows: 10% 3% 14% 6% 5% 33% 15% 10%;*/
    grid-template-areas: ". . . sidebar editor topright . ."
    ". . cornerleft sidebar editor . . ."
    ". . cornerleft sidebar editor . buttonright ."
    ". noteareaempty noteareacloud  sidebar editor . buttonright ."
    ". noteareaempty noteareaload sidebar editor . buttonright ."
    ". noteareaempty noteareaoutlet sidebar editor . buttonright ."
    ". . buttonleft sidebar editor . buttonright ."
    ". . buttonleft sidebar editor . sidebarright ."
    ". . . sidebar editor . sidebarright ."
    ". . playbutton sidebar editor . sidebarright ."
    ". cornerbottomleft cornerbottomleft sidebar editor . cornerbottomright .";
    grid-template-columns: 4fr 0px 15.4vw auto auto auto 5.2vw 5fr;
/*  compare with:

    grid-template-columns: 1fr 0px 200px auto auto 50px 200px 1fr;
    grid-template-rows: 26px 75px 27px 3em 3em 4em 3em 3em 1fr auto 20px;
    grid-template-rows: 26px 15px 27px 3em 3em 4em 3em 3em 1fr auto 20px;
*/
    grid-template-rows: auto 1.3vh 2.5vh 3em 3em 4em 3em 3em 1fr auto 0px;
    font-family:rubikReg;
}
/* 19 26 87 89 h:10 13 27 33 38 75 (90) */


#noteblock{
    grid-area: notearea;
/*
    border-left:1px solid gray;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    border-radius:15% 0 0 15%;
*/
}

#cloud{
    grid-area:noteareacloud;
    justify-self:start;
    border:none;
    background:none;
    margin-top:0.5em;
    height:3em;
    transition:filter 400ms ease;
}

#cloud-box{
    display: grid;
    grid-template-rows: 2em;
    grid-template-columns: auto;
}

.cloud-box-element {
    grid-column: 1;
    grid-row: 1;
    display:none;
}
/*background of cloud*/
#cloud svg.cloud-box-element {
    height: 100%;
    display:unset;
}

.cloud-shape{
			fill: #A4CED3;
}
/*different states, for testing purpose on hover and focus*/
/*#cloud:hover #cloud-syncing,*/
/*LOADING*/
#cloud.status-syncing #cloud-syncing{
    display:unset;
}
.loader-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: white;
  stroke-width: 2;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dasharray: 20, 200;
    stroke-dashoffset: -35%;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -100%;
  }
}
/*LOADING END*/
/*STATUS OK*/
/*#cloud:focus #cloud-ok,*/
#cloud.status-ok #cloud-ok{
    display:unset;
}

#check-path {
    fill: none;
	stroke: white;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-dasharray: 18;
	stroke-dashoffset: 18;
	animation: draw 0.8s forwards  ease;
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
/*STATUS OK END*/
/*STATUS ERROR*/
#cloud.status-error #cloud-error{
    display:unset;
}
#cloud.status-error .cloud-shape{
	fill:#9C9C9C;
}
#x-path1 {
			fill: none;
			stroke: white;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-dasharray: 18;
			stroke-dashoffset: 18;
			animation: draw 0.7s forwards ease;
}
#x-path2 {
			fill: none;
			stroke: white;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-dasharray: 18;
			stroke-dashoffset: 18;
			animation: draw 0.7s forwards ease;
			animation-delay: 0.3s;
}
/*STATUS ERROR END*/
/*STATUS UNDEFINED*/
#cloud.status-undefined #cloud-undefined{
  display:grid;
  align-content:center;
  justify-content: center;
}
div#cloud-undefined div {
    color: white;
    font-size: large;
    font-weight: bolder;
}
/**/
/*CLOUD END*/

#loadnote{
    grid-area:noteareaload;
}
#outlet{
    grid-area:noteareaoutlet;
}

#editorblock{
    grid-area:editor;
}
#buttonarearight{
    grid-area:buttonright;
}
#toolbar{
    grid-area:sidebarright;
}
#optionarea{
    grid-area:buttonleft;
}
/*optionarea*/
#optionarea{
    display:grid;
    grid-template-columns:30% 30% 30% 10%;
    align-items:start;
    justify-content:center;
    z-index: 11;
    margin-top:30px;
}
#optionarea button{
    height:4em;
    border:0;
    background:none;
    color:black;
}

#optionarea button img{
    height:50%;
    filter: grayscale(1) brightness(0.7) contrast(2.5);
}
#optionarea button svg{
  height:50%;
  border-radius:50%;
  background:#A7B8BA;
  transition: all ease 500ms;
}
.meta-button-backgr{
     fill: transparent;
}
#optionarea button:hover svg{
  background: #939393;
}
#optionarea button:focus svg,
#optionarea button.active svg{
  background:#90C1C8;
}
.meta-button-inside{
   fill: white;
}


#sidebarcontainer{
    grid-area:sidebar;
    padding-left:10px;
    min-width:150px;
}
#playbuttonarea{
    grid-area:playbutton;
    display:grid;
    grid-template-columns:50% 35% 15%;
    grid-template-rows:20% 30% 50%;
    z-index: 11;
}

#playbutton{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:4;
    justify-self:end;
    border:1px solid transparent;
    border-radius:50%;
    height:15vh;
    overflow:hidden;
}
#presentationoptionsbutton{
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3;
    justify-self:start;
    border:1px solid transparent;
    border-radius:50%;
    overflow:hidden;
    height:9vh;
}

#emptyleft{
    grid-area:emptyleft;
}
#emptyright{
    grid-area:emptyright;
}
#cornerleft{
    grid-area:cornerleft;
}
#cornerleftimage{
  grid-column: 3;
  grid-row:1;
}
#cornerright{
    grid-area:cornerright;
}
#topleft{
    grid-area:topleft;
}
#topmiddle{
    grid-area:topmiddle;
}
#topright{
    grid-area:topright;
}
#noteareaempty{
    grid-area:noteareaempty;
}

#cornerbottomleft{
    grid-area:cornerbottomleft;
}

/*nightmode*/

.nightmode {
    filter:invert(1) brightness(2);
    background:white;
}
.nightmode #imagesblock img,
.nightmode #contextfieldimage,
.nightmode .imagesrc{
	filter:invert(100%);
}

/*general fluidbuttons*/

.fluidbutton{
    border:none;
    background:none;
    padding:0;
    transition:all ease 500ms;
}
.fluidbutton img{
    width:100%;
    height:100%;
    object-fit:contain;
}

button img{
    height:100%;
}

/*outline-border in firefox*/

button::-moz-focus-inner {
  /*border-radius: 10px;*/
  border:0;

}

button.fluidbutton::-moz-focus-inner {
  border: 0;
}




/*buttonarea right:*/
#buttonarearight{
    display:grid;
    grid-template-columns: 40% 10% 15% 35%;
    grid-template-rows: 25% 20% 10% 12% 33%;
    margin-left:5px;
    width:13vh;
    z-index: 12;
}

#toolbarbutton{
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end:6;
    align-self:end;
    border:1px solid transparent;
    border-radius: 200px 0 0 0;
    overflow:hidden;
}

#imagegallerybutton{
   grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
}

#historyBackButton{
   grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:4;
    border: 1px solid transparent;
    border-radius: 0 0 0 100px;
    overflow:hidden;
}
#historyForwardButton{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:5;
    border:1px solid transparent;
    border-radius:50%;
    overflow:hidden;
}


/*temporary stuff*/

div#imagegallery {
  grid-area: sidebarright;
  visibility: hidden;
}
#sidebar{
    min-width:150px;
}
/*borders & shadows general layout*/

div#noteareaempty {
  /*
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-shadow: inset 4px 3px 8px -4px #d3d3d3;
    border-radius: 25px 0 0 25px;
    margin-right: -3px;
    margin-bottom: -1px;
    */
    text-align:right;
    margin-bottom:-1px;
}

#noteareaempty img{
  height:100%;
}
/*
div#cornerleft {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 0 100% 0;
    box-shadow: 3px 3px 6px -3px #d3d3d3;
    margin-bottom: -1px;
}
*/
/*
div#topleft {
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-radius: 50px 0 0 0;
    box-shadow: inset 2px 4px 4px -2px #d3d3d3;
    margin-bottom: -4px;
    margin-left: -1px;
}
*/
div#topmiddle {
    border-top: 1px solid lightgray;
    /*-webkit-box-shadow: inset 0 7px 3px -5px rgba(0,0,0,0.2);*/
    box-shadow: inset 0 7px 3px -5px #d3d3d3;

}

div#topright {
  /*  border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 25px 0 0;
    box-shadow: inset -3px 5px 8px -3px #d3d3d3;
    margin-right: -1px;
    margin-bottom:-15px;
    width:45px;
    */
    height:3.7vh;

    z-index:10;
    justify-self: end;
    visibility: hidden;
    background:##FC0CFC;
}

#topright svg{
  height:100%;
  visibility: hidden;
}

.rightcorner{
  fill: #fcfcfc;
}

div#noteblock {
    padding: 10px;
}

/*div#optionarea {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 0 25px 0 0;
    box-shadow: 5px -5px 7px -4px #d3d3d3;
}*/
div#shadowelleft {
  /*old stuff:
    grid-row-start: 8;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 4;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0 0 30px 0;
    box-shadow: 6px 7px 8px -5px lightgray;
    z-index:-1;
    new stuff*/
    grid-row-start: 7;
    grid-row-end: last;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 0 3.7vh 0 0;
    box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.13);
    background: #FCFCFC;
    z-index: 10;
}

div#shadowelright {
  /*old:
    grid-row-start: 2;
    grid-row-end: 11;
    grid-column-start: 7;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 0 0 0 20px;
    box-shadow: -4px 10px 12px -3px #d3d3d3;
    margin-top: 0px;
    z-index: -1;
    new: */
    grid-row-start: 1; /*1*/
    grid-row-end: last;
    grid-column-start: 6;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-radius: 0 4.2vh 0 0;
    box-shadow: inset -8px 4px 4px -4px rgba(0, 0, 0, 0.13);
    /*margin-left: -10px;*/
    background:white;
    z-index: 11;
}
.initial div#shadowelright{
  background:transparent;
}
#shadowelright img{
  display:none;
  margin-right:-8px;
  margin-top:-2px;
  z-index:10;

}
.initial #shadowelright img{
  display:block;
}
.initial div#rahmenright{
  grid-column-start:7;
}

div#rahmenright {
  grid-row-start: 1;
  grid-row-end: last;
  grid-column-start: 6;
  grid-column-end: last;
  z-index: 10;
  background: #FCFCFC;
}


/*load-note bricket*/
#loadnote div {
    display: grid;
    grid-template-columns: 1fr 20px;
    height:2em;
    overflow:hidden;
   /*background-image: url(images/buttons/new-note.svg);
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: bottom;
   border-bottom: 2px solid #d2d2d2;*/
}

button#loadnote {
    background: none;
    border: none;
    padding: 0;
/*    background-image:url(images/buttons/loadnotebackground.png);
    background-repeat: no-repeat;
    background-position: right;*/
}
#loadnote img{
  filter: grayscale(1) brightness(0.7) contrast(2.5);
  grid-column-start:1;
  grid-column-end:3;
  grid-row:1;
  height:100%;
  justify-self: end;
  transition:filter 400ms ease;
}


#loadnote:hover #slidenotetitle,
#loadnote:focus #slidenotetitle{
    background:#9c9c9c;
}

span#slidenotetitle {
    /*border-bottom: 2px solid rgb(150,150,150);*/
    grid-column:1;
    grid-row:1;
    margin-top:1px;
    border-radius: 10px 0;
    transition:all 400ms ease;
}

/*cloud-menu*/
div#menucloud {
    grid-row: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    display: none;
    margin-top:7px;
}

#menucloud .arrow_box:before, #menucloud .arrow_box:after {
    left: 27%;
}

#menucloud button {
    display: block;
    border: none;
    background: lightgray;
    margin: 5px;
    width: 100%;
    border-radius: 3px;
    font-size: large;
}

ul#revisionlist {
    list-style: none;
    padding: 0;
    margin: unset;
}

.separator {
    text-align: center;
    color: gray;
}
/*slidenote-loadmenu*/
div#menuload {
    grid-row: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-right: -20px;
}
#menuload .arrow_box:before, #menuload .arrow_box:after {
    left: unset;
    right:16px;
}

#menuload button {
    width: 100%;
    display: block;
    background: #f4f4f4;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menuload ul {
    list-style: none;
    margin: unset;
    padding: unset;
}

#notelist li {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 10px;
}

#menuload img {
    height: unset;
}

#notelist button.circle {border: 1px solid transparent;border-radius: 50%;width: 22px;height: 21px;padding: 0;overflow: hidden;align-self: center;justify-self: center;}

#menuload .loadnotebutton.actnotebutton {
    background: #90c1c8;
}

/*hover and focus-effects:*/

#menuload button:hover,#menuload button:focus,
#menupublish button:hover,#menupublish button:focus,
#menuimportexport button:hover,#menuimportexport button:focus,
#toolbar button:hover,#toolbar button:focus,
button:hover, button:focus,
#nicesidebarsymbol a:hover,
#nicesidebarsymbol a:focus,
#menuoptionseditor a.menuitem:hover,
#menuoptionseditor a.menuitem:focus,
#nightmodetoggle:hover div,
#nightmodetoggle:focus div{
    /*filter:brightness(0.8); only on images*/
    filter:unset;
    background:#9c9c9c;
    color:white;
    outline:none;
}
button.fluidbutton:hover, button.fluidbutton:focus,
#cloud:hover, #cloud:focus{
    filter:brightness(0.8);
    background:none;
}

#optionarea .active img,
#loadnote.active img {
  filter:unset;
}
#loadnote:focus img, #loadnote:hover img,
#optionarea button:focus img, #optionarea button:hover img {
    /*filter: sepia(1) hue-rotate(150deg);*/
    filter: grayscale(1) brightness(0.6) contrast(5.5);
}


/*optionarea buttons:*/
div#menupublish,
#menuimportexport,
#menuoptionseditor {
    grid-row: 8;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 20px;
    margin-right:-5%;
}

/*publishmenu*/
#menupublish button {
    border: 1px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 3em;
    background: #f4f4f4;
    font-size: large;
}

#menupublish .arrow_box:before, #menupublish .arrow_box:after {
    left: 42.5%;
}

#publishedlist {
    list-style: none;
    padding: unset;
    margin: unset;
}

#publishedlist li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 2rem;
    margin-top: 10px;
    grid-template-areas:"loadnotebutton loadnotebutton" "delete copy";

}

#publishedlist button.loadnotebutton{
  grid-area:loadnotebutton;
}


#menupublish button.circle, #menupublish button.copylink {
  font-size: x-small;
    height: 1rem;
    padding: 2px;
    width: 75%;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
/*    height: 20px;
    width: 20px;
    padding: 0;
    align-self: center;
}

#menupublish button.copylink {
    justify-self: center;
    text-align: center;
    font-size: xx-small;
    width: 40px;*/
}

#menupublish .separator {
    margin-top: 25px;
}

/*menu import export*/
#menuimportexport .arrow_box:before, #menuimportexport .arrow_box:after {
    left: 14%;
}

input#importfile {
    display: none;
}

#menuimportexport button {
    border-radius: 10px;
    width: 100%;
    height: 3em;
    border: 1px solid transparent;
    margin-top: 10px;
    background: #f4f4f4;
}

#menuimportexport .separator {
    margin-top: 20px;
}

/*optionsmenu*/


#menuoptionseditor .arrow_box:before, #menuoptionseditor .arrow_box:after {
    left: 71%;
}

a.menuitem {
    display: block;
    text-decoration: none;
    color: black;
    background: #f4f4f4;
    padding: 0.5em 0;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
}

#menuoptionseditor .separator {
    margin-top: 10px;
}

#menuoptionseditor ul {
    list-style: none;
    padding: 0;
    background:white;
}

#editorchoice {
    width: 90%;
    margin-left: 5%;
    background: #90c1c8;
    color: white;
    -webkit-appearance: none;
    background-image: url(images/buttons/droptilde.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px;
    border-radius: 4px;
}
#editorchoice:hover, #editorchoice:focus {
    /*filter: brightness(0.8);*/
    background:#59787d;
}

#nightmodetoggle div {
    width: 36%;
    height: 1em;
    padding: 0.5em 0;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    background: #90c1c8;
    color:white;
}

button#nightmodetoggle {
    width: 100%;
    background: none;
    border: none;
}

button#nightmodetoggle div:first-child {
    background: #f4f4f4;
    color:black;
}

.nightmode #nightmodetoggle div{
    background:#f4f4f4;
    color:black;
}
.nightmode #nightmodetoggle div:first-child{
    background:#90c1c8;
    color:white;
}



/*presentationoptions*/

.presentationoptionsdialog .dialogcontent {
  background: none;
  overflow-y:auto;
  width:95vh;
  height:30vh;
}
.presentationoptionsdialog input[type="radio"] {
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
}

.presentationoptionsdialog ul {
  padding: 0;
  margin: 0;
}
.themepreviewcontainer {
    padding: 1.5vh;
    border: 3px solid transparent;
    border-radius: 2vh;
    background:none;
}

#presentationoptionactiveradio .themepreviewcontainer {
  border-color:#c3dde1;
}
.themepreviewcontainer:hover{
  border-color:#b0bfc1;
  background:none;
}
.presentationoptionsdialog li {
  display: inline-block;
  margin: 1vh;
}

.themepreview {
  width: 23.7vh;
  height: 14vh;
  border: 1px solid gray;
  display: grid;
  justify-items: center;
  align-items: center;
}
.themepreviewtitle{
  width:100%;
  height:3em;
  display:grid;
  justify-content: center;
  align-content: center;
}

/*old: delete in future
#menuoptionspresentation {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 4;
    display: none;
    align-items: end;
    overflow:hidden;
    z-index: 10;
}

#menuoptionspresentation.active{
    display:grid;
    overflow:unset;
    margin-bottom:-25px;
    animation-name:parenting;
    animation-duration:120ms;
}

#menuoptionspresentation .arrow_box_down {
	position: relative;
	background: #ffffff;
	border: 4px solid rgba(0,0,0,0.2);
    border-radius:10px;
    box-shadow:0 0 5px 3px lightgray;
  height:100%;
}
#menuoptionspresentation .arrow_box_down:after, #menuoptionspresentation .arrow_box_down:before {
	top: 100%;
	right: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#menuoptionspresentation .arrow_box_down:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
#menuoptionspresentation .arrow_box_down:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0,0,0,0.2);
	border-width: 16px;
	margin-left: -16px;
}

ul#basicthemelist {
    list-style: none;
    padding: 0;
    overflow-y:auto;
    height:75%;
}

#basicthemelist li {
    display: grid;
    grid-template-areas: "title title" "input preview";
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1em 4em;
    align-items: center;
    justify-items: center;
    margin-top:10px;
    grid-row-gap:5px;
    background:#f4f4f4;
}

#basicthemelist li div:first-child {
    grid-area: title;
    justify-self: start;
}

#basicthemelist .themepreview {
    font-size: x-small;
    width: 100px;
    overflow: hidden;
    height: 50px;
    padding: 10px;
    margin: 0;
    border: 1px solid;
    text-align: center;
}
*/
/*toolbar*/

#toolbar .arrow_box:after,
#toolbar .arrow_box:before{
    left:90px;
    opacity:0.6;
}

#toolbar img {
    display: none; /*in normal-views*/
}

ul#toolbarbuttons {
    list-style: none;
    margin: unset;
    padding: unset;
    background:white;
    height:100%;
    overflow-y:auto;
}
#toolbarbuttons li:first-child button {
    margin-top: -3px;
}

#toolbarbuttons button {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 3px;
    height: 2em;
    background: #f4f4f4;
}

div#toolbar {
    grid-row-start: 8;
    grid-row-end:11;
    grid-column-start: 6;
    grid-column-end: last;
    padding-left:10px;
    margin-top:-20px;
}

div#texteditorbuttons {
    background: rgba(255,255,255,0.5);
}

div#toolbar .arrow_box {
  max-width: 100%;
  max-height:100%;
  /* overflow: auto; */
}

span.buttonmdcode {
    color: #7ac0d1;
    font-weight:bold;
}

/*hide all menus by default*/
#menuload, #menucloud, #menupublish, #menuimportexport, #menuoptionseditor, #menuoptionspresentation, #toolbar {
    display: none;
}
#menuload.active, #menucloud.active, #menupublish.active, #menuimportexport.active, #menuoptionseditor.active, #toolbar.active {
    display: unset;
}
#menuoptionspresentation.active{
    display:block;
    height:100%;
}



button#outlet {
    border: 1px solid transparent;
    background: unset;
    width: 75%;
    color:black;
}

#outlineBlockTitle{
  display:none;
}

/*animation of menus*/
.arrow_box, .arrow_box_down {
    overflow: hidden;
    height: 0px;
}

.active .arrow_box, .active .arrow_box_down {
    height: unset;
    overflow:unset;
    animation-name:growbox;
    animation-duration:100ms;
}

@keyframes growbox{
    from{
        overflow:hidden;
        height:0px;
        opacity:1;
    }
    to{
        overflow:unset;
        height:20vh;
        opacity:1;
    }
    90%{
        overflow:hidden;
    }
}

@keyframes parenting{
    0%{
        overflow:hidden;
    }
    90%{overflow:hidden;}
    100%{
        overflow:unset;
    }
}

/*loading screen*/
#slidenoteloadingscreenwrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display:grid;
    justify-content: center;
    align-content: center;
}
#slidenoteeditorloadingscreenbackground{
  			position:absolute;
        top:0;
        left:0;
  			width: 100%;
  			height: 100%;
        z-index: 1400;
        background-color: #FCFCFC;
        opacity:1;
}
#slidenoteloadingscreenwrapper.midstate #slidenoteeditorloadingscreenbackground{
  opacity:0.7;
  transition:all 1s ease;
}
#slidenoteloadingscreenwrapper.endstate #slidenoteeditorloadingscreenbackground{
  			opacity: 0.7;
  			animation-name:flaeche;
  			animation-delay: 1s;
  			animation-duration: 0.5s;
  			animation-fill-mode: forwards;
}
  		@keyframes flaeche{
  			0%{opacity: 0.7}
  			100%{opacity: 0}
  	}

#slidenoteeditorhidetexteditor{
  background:white;
  position:absolute;
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  z-index: 8;
}

#slidenoteloadingscreenwrapper.endstate #slidenoteeditorhidetexteditor{
  animation-name:loading-blob;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

#loading-blob{
      z-index: 10000;
			position:absolute;
      left:40vw;
      top:33vh;
			width: 20vw;
}
#slidenoteloadingscreenwrapper.endstate #loading-blob{
			animation-name: loading-blob;
			animation-duration: 0.87s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
}
		@keyframes loading-blob {
			0%{opacity: 1;}
			90%{opacity: 1;}
			100%{opacity: 0;}
		}

#slidenoteloadingscreenwrapper #loadingcircle{
  animation-name: loading-circle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 500;
  position: relative;
  z-index: 1500;

}
@keyframes loading-circle {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

#slidenoteloadingscreenwrapper.midstate #loadingcircle{
  animation-name:none;
  transition:valueTransform;
}

#slidenoteloadingscreenwrapper.endstate #loadingcircle{
  animation-name: loading-circle2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes loading-circle2 {
    0%{
      transform:rotate(0deg);
      height:400px;
      opacity:1;
    }
    50%{
      opacity:0.8;
    }
    100%{
      transform:rotate(360deg);
      height:0px;
      opacity:0;
    }
}
#circle-colorful{
  display:none;
}
#slidenoteloadingscreenwrapper.endstate #circle-colorful{
      display:block;
			position: absolute;
			left:50%;
			top:50%;
			width: 100px;
			height: 100px;
			transform: translate(-50%, -50%);
			background-color: #90C1C8;
			border-radius: 50%;
			opacity: 0;
      z-index: 9;

			animation-name: circle-colorful;
			animation-delay: 0.8s;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
		}
		@keyframes circle-colorful {
			0%{opacity: 1; transform:translate(-50%, -50%) scale(1);}
			70%{opacity: 0.5; transform:translate(-50%, -50%) scale(30);}
			100%{opacity: 0; transform:translate(-50%, -50%) scale(30);}
		}

/*old:

img#loadingcircle {
    transform: rotate(1deg);
    animation-name:loadingcircle;
    animation-duration: 4000ms;
    animation-iteration-count: 150;

}

@keyframes loadingcircle{
    0%{
        transform:rotate(1deg);
    }
    100%{
        transform:rotate(359deg);
    }
}
*/
/*insert-menu*/
#insertarea {
    background: #90c1c8;
    margin-top: -10px;
    margin-right: 20px;
    border-radius: 0px 0px 10px 10px;
    width:130px;
    position:absolute;
    visibility: hidden;
    z-index: 5;
    /* margin-left: 10px; */
}

#insertarea.top{
  border-radius: 10px 10px 0 0;
}

#insertarea button {
    display: block;
    width: 90%;
    margin: 5px;
    border: 0;
    border-radius: 5px;
    background: none;
    color: white;
    text-align: right;
}
#insertarea button:first-child{
  margin-top:10px;
}

#insertarea button:focus, #insertarea button:hover {
    background: #9c9c9c;
    color: white;
}

/*nicesidebarsymbol:*/
#nicesidebarsymbol {
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 20px;
    z-index: 6;
}

#nicesidebarsymbol a {
    width: 100%;
    height: 2em;
    background: #90c1c8;
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: right;
    align-self: center;
    justify-self: left;
    margin-right:5px;
    text-decoration:none;
    color:white;
}

#nicesidebarsymbol a img {
    margin: 5px;
}

div#nicesidebarsymbol.out {
    filter: grayscale(1);
}

div#nicesidebarsymbol.out #nicesidebarsymbolcontainer {
    opacity: 0.5;
    visibility: hidden;
}

#cursorlinearrow{
  z-index: -1;
}

/*texteditor and background:*/
#editorblock{
    background:white;
    position:initial;
    height:95vh;
    width:900px;
}

#texteditorerrorlayer{
	color:unset;
	overflow-y:auto;
	overflow-x:none;
	z-Index:1;
	/*font-weight:bolder;*/
}

#texteditorerrorlayer, #quelltext {
    font-family: monospace;
	font-size: 1em;
	position:absolute;
	border: 1px solid transparent;
    margin: 1px;
    padding: 1px;
	width: 900px;/*60vw 550px;*/
	height:90vh;
	line-height:1.5em;
    outline:none;
}
#quelltext{
	z-Index:2;
	background:none;
	color:transparent;
	caret-color:black;
}

.linenr {
    color: grey;
	display:none;
}
.error{

}
#texteditorerrorlayer .error{
	color: red;
	border-bottom:3px solid red;
}
.proposedsymbol{
	color:grey;
	background:white;
	margin-left: 5px;
}
.errordescription{
	background:rgba(0,255,255,0.8);
	float: right;
	color: red;
}
/*mdcodeeditor*/
#carret.unfocused{
  border-right:1px solid black;
  margin-right:-1px;
}
/*
::selection{
  color:transparent;
  background:lightblue;
}
::-moz-selection{
  color:transparent;
  background:rgba(144,193,200,0.5);
}
*/

.selectioncarretmarker{
  text-decoration: none;
  background: #d2d2d2;
}
.backgroundline .selectioncarretmarker code{
  background: rgba(255,165,0,0.5);
}
.hiddenselectioncarretmarker{
  text-decoration: none;
}

.backgroundline{
	white-space: pre-wrap;
	word-wrap: break-word;
}
.backgroundline.h1{
	color:blue;
	font-weight: bold;
}
.backgroundline.h2{
	color:blue;
}
.backgroundline b, .backgroundline i, .backgroundline strike{
	border-bottom:1px solid lightgreen;
}
.backgroundline.code, .backgroundline code,
.backgroundline.codehead, .backgroundline.metadata.codehead{
	background:orange;
	font-family:unset;
	font-size:unset;
}
.backgroundline.code{
	display:inline-block;
	width:100%;
}
.backgroundline.quote{
	background:gainsboro;
	font-style:italic;
	display:inline-block;
	width:100%;
}

#texteditorerrorlayer .pagenr {
    /*content: "»»» new page";*/
    color: white;
		font-style:italic;
}
.backgroundline.pagebreak {
    display: inline-block;
    background: grey;
    width: 100%;
}
.backgroundline.data{
	display:inline-block;
	width: 100%;
	background:yellow;
}
.backgroundline.metadataseparator {
    background: darkgreen;
}

.backgroundline.metadata {
    background: lightgreen;
}

.backgroundline.layout{
	display:inline-block;
	width:100%;
	background: rgba(238, 199, 85, 0.54);
}
.backgroundline .imagetag{
	color:blue;
	font-weight:bold;
	background:lightblue;
}
.backgroundline .imagesrc, .backgroundline .imagealt{
	color:green;
}
.backgroundline .imagesrc.imagenotfound{
	color:red;
}
.backgroundline.footnote{
	background:#d3d3d3;
	display:inline-block;
	width:100%;
}
.backgroundline .firstfootnote{
	border-top:1px dashed;
	margin-top:-1px;
}
.backgroundline .footnoteanchor{
	color:blue;
}
.backgroundline .comment {
	background:#d3d3d3;
	font-style:italic;
}

/*texteditor modi*/
/*standard:*/
#menuimportexport button img,
#menuoptionseditor .menuitem img{
  display: none;
}
.md-texteditor #slidenoteeditor {

}
/*focus-mode*/
.focus #slidenoteeditor #nicesidebarsymbol,
.focus #slidenoteeditor .fluidbutton,
.focus #slidenoteeditor #optionarea button,
.focus #slidenoteeditor #cloud,
.focus #slidenoteeditor #loadnote,
.focus #slidenoteeditor #shadowelleft,
.focus #slidenoteeditor #shadowelright {
  display:none;
}

.focus #slidenoteeditor #playbutton,
.focus #slidenoteeditor #optionarea #optionsbutton{
  display:unset;
}
.focus #slidenoteeditor #optionarea{
  grid-column-start:1;
  background:url("images/borderfocusmode.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:6.38vh;
  height:17vh;
  display:grid;
  align-content:center;
  justify-content: start;
  grid-template-columns:auto;
}
.focus #slidenoteeditor #optionsbutton span{
  display: none;
}
.focus #menuoptionseditor {
    grid-column-start: 1;
    grid-column-end:5;
    margin-left: 7vh;
    max-width: 25ch;
}


.focus #menuoptionseditor .arrow_box:after,
.focus #menuoptionseditor .arrow_box:before {
  left:unset;
	right: 100%;
	top: 4vh;
}

.focus #menuoptionseditor .arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: white;
	border-width: 1.4vh;
	margin-top: -1.4vh;
}
.focus #menuoptionseditor .arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: rgba(100,100,100,0.2);
	border-width: 1.6vh;
	margin-top: -1.6vh;
}

/*raw-text-mode*/
.raw-text #slidenoteeditor #texteditorerrorlayer{
  display:none;
}
.raw-text #slidenoteeditor #quelltext{
  color:unset;
}

/*big-mode*/
.big-mode #slidenoteeditor {
  display:grid;
grid-template-rows: 3.5vh 3em 3em 3em 1fr 42vh 22vh;
grid-template-columns: 25vh auto auto auto 12.5vh 1fr;
grid-template-areas:
". sidebar editor topright . ."
"noteareacloud sidebar editor . buttonright ."
"noteareaload sidebar editor . buttonright ."
"noteareaoutlet sidebar editor . buttonright ."
". sidebar editor . buttonright ."
"buttonleft sidebar editor . sidebarright ."
"playbutton sidebar editor . sidebarright .";
}

.big-mode #shadowelleft{
  grid-column:1;
  grid-row-start: 6;
  grid-row-end:last;
}
.big-mode div#menupublish, .big-mode #menuimportexport, .big-mode #menuoptionseditor {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: last;
    max-width:28ch;
}

.big-mode #optionarea {
    grid-template-columns: 100%;
    grid-template-rows: 6vh 6vh 6vh;
    grid-gap: 1vh;
    justify-items: end;
    align-items: center;
}

.big-mode #optionarea button svg {
    height: 100%;
}
.big-mode #nicesidebarsymbol {
    width: 10ch;
}
.big-mode #sidebarcontainer {
    width: 10ch;
    font-size: xx-large;
}

.big-mode #shadowelright {
    grid-column: 4;
}
.big-mode #imagegallery.active {
    grid-column-start: 4;
    grid-column-end: last;
    grid-row-start: 3;
    grid-row-end: 6;
    margin-top: 1vh;
}

.big-mode div#toolbar {
    grid-column-start: 4;
    grid-column-end: last;
    grid-row-start: 6;
    grid-row-end: last;
}
.big-mode #quelltext, .big-mode #texteditorerrorlayer,
.big-mode button span , .big-mode #menucloud button,
.big-mode .autohidemenu button, .big-mode .separator,
.big-mode .menuitem,
.big-mode #menupublish button, .big-mode #menupublish .loadnotebutton,
.big-mode .dialogbox, .big-mode .dialogtitle{
    font-size: xx-large;
}
.big-mode div#menuload {
    grid-column: 1;
    grid-row: 4;
}

.big-mode div#menucloud {
    grid-column: 1;
    grid-row: 3;
}
.big-mode #menupublish button {
    padding: 0;
    overflow: hidden;
}

.big-mode #loadnote div{
  font-size:x-large;
}
.big-mode #menuload #actnotearea button.minibutton{
  font-size:medium;
}
.big-mode #cloud{
  font-size: large;
  margin-top:-0.5em;
}
.big-mode #menucloud .arrow_box:before, .big-mode #menucloud .arrow_box:after {
    left: 15%;
}
.big-mode #toolbarbuttons button {
    height: 8vh;
}
.big-mode .plusbutton span{
  height: 0;
  width:0;
  overflow: hidden;
  display:block;
}
.big-mode #toolbar span{
  display:none;
}
.big-mode #toolbar img{
  display:block;
}
.big-mode #presentationoptionsbutton {
    height: 11vh;
    width: 12vh;
}
.big-mode #imageselectionlist li, .big-mode .import-file-image-preview-block li {
    height: auto;
    width:13ch;
}
.big-mode #imageselectionlist button.imagegallery-image {
    width: 12ch;
    height: 21vh;
    font-size: xx-large;
}
.big-mode .importfile-image-preview-block ul, .big-mode #slidenoteGuardianCodePreview ul {
    max-height: 18vh;
}

.big-mode .imagegallery-usedslides {
    display: none;
}

.big-mode #imageselectionlist li,.big-mode .importfile-image-preview-block li {
    width: 30vh;
    height: 6em;
    overflow: hidden;
}

.big-mode #insertarea button {
    font-size: large;
}

.big-mode #insertarea {
    width: 9.1ch;
}
.big-mode #menuoptionseditor .arrow_box:after,
.big-mode #menuoptionseditor .arrow_box:before,
.big-mode #menuimportexport .arrow_box:after,
.big-mode #menuimportexport .arrow_box:before,
.big-mode #menupublish .arrow_box:after,
.big-mode #menupublish .arrow_box:before {
  left:unset;
	right: 100%;
	top: 2em;
}
.big-mode #menupublish .arrow_box:after,
.big-mode #menupublish .arrow_box:before{
  top:6em;
}
.big-mode #menuoptionseditor .arrow_box:after,
.big-mode #menuoptionseditor .arrow_box:before{
  top:10em;
}

.big-mode #menuoptionseditor .arrow_box:after,
.big-mode #menuimportexport .arrow_box:after,
.big-mode #menupublish .arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: white;
	border-width: 1.4vh;
	margin-top: -1.4vh;
}
.big-mode #menuoptionseditor .arrow_box:before,
.big-mode #menuimportexport .arrow_box:before,
.big-mode #menupublish .arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: rgba(100,100,100,0.2);
	border-width: 1.6vh;
	margin-top: -1.6vh;
}
.big-mode div#optionarea button span,
.big-mode #menuoptionseditor .menuitem span,
.big-mode #menuimportexport button span {
  height: 0;
  width:0;
  overflow: hidden;
  display: block;
}

.big-mode #menuimportexport button img,
.big-mode #menuoptionseditor .menuitem img,
.big-mode #optionarea button img {
    display: inline-block;
    width: 3ch;
    height: unset;
}

.big-mode #menuimportexport .separator {
    display: none;
}
.big-mode #searchbuttonarea {
    grid-column-start: 5;
}

.big-mode #menusearchbox {
    grid-column-start: 4;
    grid-column-end: 7;
}
.big-mode #menusearchbox .arrow_box {
    max-width: 17vh;
}

button#importbutton .importpng {
    transform: rotate(180deg);
}

/*basic-mode*/
.basic-mode #toolbarbuttons button,
.basic-mode #exportasenchtmlbutton,
.basic-mode #exportasmdfilebutton,
.basic-mode #menucloud,
.basic-mode #actnotearea,
.basic-mode #menuoptionseditor a.menuitem,
.basic-mode #menuoptionseditor button,
.basic-mode #menuoptionseditor .separator:nth-of-type(4),
.basic-mode #menuoptionseditor .separator:nth-of-type(5),
.basic-mode #imagegallerybutton{
  display:none;
}


.basic-mode button#nightmodetoggle {
    display: unset;
}



.basic-mode #toolbarbuttons button.basicbutton{
  display: unset;
}

/*audio-mode*/
.audio-mode #texteditorerrorlayer{
  display:none;
}
.audio-mode #quelltext{
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre;
}

/*loading screen*/
#slidenoteLoadingScreen{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:blue;
	color:white;
	visibility:hidden;
	z-index: -1;
}
#slidenoteLoadingScreen.active{
	visibility:visible;
	z-index: 9999;
}
/*presentation */
.ppage{
	/*display:none;*/
	visibility: hidden;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	height:100vh;
	overflow:auto;
}
.ppage.active{
	display:block;
	visibility: visible;
}

#praesentationrahmen{
	display:none;
}
#praesentationrahmen.fullscreen {
	display: block;
}
#praesentation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
	height:100%;
	overflow: auto;
	left:0;
}
#praesentationrahmen.fullscreen .praesentationsteuerung{
	position: fixed;
	bottom:0;
	z-index: 1001;
}
/*options-menü*/
#options {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 100;
		display: none;
		top:0px;
}
#options.visible{
	display: block;
}

#options > h1 button {
    float: right;
    margin-right: 50px;
}

#options > h1 {
    background: lightblue;
    padding: 15px;
}

/*options-tabbar: */
.tabbar h2 {
  display: inline;
  margin-left: 10px;
  background: #d3d3d3;
  padding: 10px;
  padding-bottom: unset;
}
.tabbar h2.active {
  border: 1px solid black;
  border-top: 2px solid #2d2b2b;
  border-bottom: none;
  padding-bottom: 1px;
}
.tabbar {
  border-bottom: 1px solid black;
}
.tabbar h2 {
  display: inline;
  margin-left: 10px;
  background: #d3d3d3;
  padding: 10px;
  padding-bottom: unset;
}
.tabbar h2.active {
  border: 1px solid black;
  border-top: 2px solid #2d2b2b;
  border-bottom: none;
  padding-bottom: 1px;
}
.tabbar h2:hover {
  background: darkgray;
}
.tabbar h2.active:hover {
  background: #d3d3d3;
}

.optiontab {
  display: none;
}
.optiontab.active {
  display: block;
}

/*Dialog box*/
.dialogboxparent{
  position:fixed;
  z-index: 10000;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow:hidden;
  background:rgba(255,255,255,0.3);
  display:grid;
  justify-content: center;
  align-content: center;
}
.dialogbox{
/*  width:95vh; /*1020px on 1920x1080;*/
/*  height:60vh;/*650px */
  background:#fcfcfc;
  border-radius:1vh;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.25);
  display:grid;
  grid-template-rows:3em 1fr auto;
/*  grid-template-columns: 95vh;*/
  overflow:hidden;
}
.dialogtitle{
  text-align:center;
  height:3em;
  display:grid;
  grid-template-columns: 15ch 1fr 15ch;
  align-items:end;
  align-content:center;
  justify-content: center;
  grid-template-areas:". title close";
  margin:0;
  padding:0;
  font-size:large;
}
.dialogtitle span{
  grid-area:title;
}
.dialogbox .dialogtitle .dialogclosebutton{
  align-self:start;
  justify-self:end;
  border:none;
  background:none;
  grid-area:close;
  margin-right:1vh;
  margin-top:1vh;
}
.dialogclosebutton:hover{
  filter:brightness(0.4);
}
.dialogcontent{
  background:#f4f4f4;
  border-radius: 3vh 3vh 0 0;
  min-height: 5em;
  display: grid;
  align-items: center;
  justify-items: center;
}
.dialogbox .buttonarea {
    width: 100%;
    height: 4em;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    background: #f4f4f4;
}

.dialogbox .buttonarea button {
    grid-row: 1;
    min-width: 14vh;
    height: 4.2vh;
    border-radius: 0.5vh;
    border: none;
    color: white;
}

button#dialogconfirmbutton {
    background: #505050;
}

button#dialogcancelbutton {
    background: #777777;
}

.dontbotherarea{
  background:#f4f4f4;
}
/*hide imagesblock as fast as possible:*/
#imagesuploadblock{
  display:none;
}
#slidenotediv #imagesblock{
  display:none;
}
