p code.hljs{
	display:inline-flex;
}

code {
	white-space:pre;
}

#texteditorerrorlayer .specialline{
	text-decoration:underline;
	font-weight:bold;
}
/*
.specialline li{
	opacity:0.5;
}

.specialline li.specialline{
	opacity:1;
}

.specialline ul{
	list-style:none;
}*/

span.codeline{
	opacity:0.5;
}
span.specialline{
	opacity:1;
}
