#slidenotediv #imagesblock{
  display:none;
  position:absolute;
  z-index: 1000;
  top: 0;
  background: white;
  width: 100%;
  height: 100%;
}
#slidenotediv #imagesblock > h1 button{
  float:right;
  margin-right: 50px;
}
#slidenotediv #imagesblock > h1{
  background: lightblue;
  padding: 15px;
}

#slidenotediv #imagesblock.visible{
  display:block;
}
.imagenotfound{
  color:red;
  weight:bold;
}
