#slidenoteGuardianPasswortPrompt {
  background: rgba(0,50,255,0.75);
  height:100%;
  left:0;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10000;
  padding:40%;
}
#slidenoteGuardianPasswortPrompt > div {
    background: white;
    padding: 15px;
    width: 300px;
    position: fixed;
    top: 30%;
}

#slidenoteGuardianImportPromptWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 9999;
    padding:10%;
}
#slidenoteGuardianImportPrompt{
  background:white;
  padding:15px;
  max-height:80%;
  overflow:scroll;
}

#slidenoteGuardianImportPrompt div{
  max-height:30vh;
  overflow:scroll;
}

#slidenoteGuardianImportPrompt img{
  max-width:100px;
  max-height:100px;
}

#slidenoteGuardianCodePreview{
  white-space:pre;
}
